body {
  text-align: center;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #3f4850;
}

h1 {
  font-family: "Lobster", "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 4em;
  color: #051c33;
}

h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: lightskyblue;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}
